{% extends 'res/index.html' %}
{% load static %}

{% block title %}Все рецепты{% endblock %}

{% block content %}
<section class="up">
    <h1 class="name">Все рецепты</h1>
</section>
{% for recipe in recipes %}
<div class="all_recipe">
    <a href="{% url 'recipe' recipe.pk %}" class="recipe_name">{{ recipe.recipe_name }}</a>
    <img src="{% static recipe.picture %}" class="recipe_picture"/>
    <div>{{ recipe.description }}</div>
    <div>Время приготовления: {{ recipe.time }}</div>
    <div>Категория: {{ recipe.category_name }}</div>
    <div>Автор рецепта: {{ recipe.author }}</div>
</div>
{% endfor %}
{% endblock %}